{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'farm/img/favicon.ico' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    <title>농진청 스마트팜 DBMS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'farm/css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'index' %}"><i class="fas fa-tree"></i>&nbsp;농진청 스마트팜</a>
      <!--
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">//-->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          {% if user.is_authenticated %}
            <h6 class="nav-link" href="">{{user.username}}님 환영합니다.&nbsp;&nbsp;</h6>
            <a class="nav-link" href="{% url 'logout' %}" >로그아웃</a>
          {% else %}
            <a class="nav-link" href="{% url 'login' %}" >로그인</a>
            <a class="nav-link" href="{% url 'join' %}">회원가입</a>
          {% endif %}
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}" id=navhome>
                  <span data-feather="home"></span>
                  대시보드 <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'elist' %}" id=nave>
                  <span data-feather="file"></span>
                  경영체정보
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'elist' %}">
                  <span data-feather="shopping-cart"></span>
                  경영시설정보
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'elist' %}">
                  <span data-feather="users"></span>
                  식물정보
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'elist' %}">
                  <span data-feather="bar-chart-2"></span>
                  환경정보
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'elist' %}">
                  <span data-feather="layers"></span>
                  통합
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          {% block content %}
          {% endblock %}  
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
