{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link href="{% static 'farm/css/e1update.css' %}" rel="stylesheet">
	<script>
		function csel(id) {
			$('#c').val(id);
		}
	</script>


<form class="form-horizontal" method="post">
	{% csrf_token %}
	<h2 class="form-signin-heading"><a href="{% url 'cr' %}"><i class="fas fa-arrow-left"></i></a> 작물정보</h2>
	<hr>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">작물정보ID</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=a name=a autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">채소종류</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=b name=b autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">실생 품종명</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=c name=c autofocus required/>
			</div>
		</div>
	</div>	

		<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">접수 품종명</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=d name=d autofocus required/>
			</div>
		</div>
	</div>	

		<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">정보 수집일</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=e name=e autofocus required/>
			</div>
		</div>
	</div>	

		<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">수집방법코드</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=f name=f autofocus required/>
			</div>
		</div>
	</div>	
	
	<br>
	<input type=hidden id=eid value="0" name=eid>
	<div class="form-group" id=signup-group>
		<button type="submit" class="btn btn-info btn-block login-button" id="btn">추가하기</button>
	</div>
	<center>
	<div class="login-register">
        <a href="{% url 'cr' %}">목록으로</a>
     </div>
 	</center>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'farm/js/m4.js' %}"></script>
{% if d %}
<script>
	$("#a").val("{{ d.CI_INFO_ID }}");
	$("#b").val("{{ d.CI_VEGETABLES }}");
	$("#c").val("{{ d.CI_NG_SEEDING_VAR }}");
	$("#c").val("{{ d.CI_SCION_VAR }}");
	$("#c").val("{{ d.CI_INFO_GATHER }}");
	$("#c").val("{{ d.CI_GATHER_CODE }}");
	$("#eid").val("{{ d.id }}");
	$("#btn").html("수정하기");
</script>
{% endif %}

{% endblock %}