{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link href="{% static 'farm/css/e1update.css' %}" rel="stylesheet">
	<script>
		function sel(id) {
			$('#e').val(id);
		}
	</script>


<form class="form-horizontal" method="post">
	{% csrf_token %}
	<h2 class="form-signin-heading"><a href="{% url 'da' %}"><i class="fas fa-arrow-left"></i></a> 기기담당자</h2>
	<hr>
	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">기기담당자ID</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=a name="a" autofocus required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">담당자이름</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=b name="b" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">담당자연락처</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=c name="c" required/>
			</div>
		</div>
	</div>


	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">담당자역할</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=d name="d" required/>
			</div>
		</div>
	</div>

	<input type=hidden id=e name="e" />
	
	<hr>
	<div class="list-group">
	  <button type="button" class="list-group-item list-group-item-action active">
	    업체정보
	  </button>
	  {% for i in ds %}
	  	<button type="button" class="list-group-item list-group-item-action" onclick="sel({{i.id}})">
	  		<table width="100%" class="right"><tr>
	  			<td width="10%" class="border-right">{{i.CI_CODE}}</td>
	  			<td style="padding-left: 20px;">{{i.CI_NAME}}</td>
	  		</tr></table>
	  	</button>
	  {% endfor %}
	</div>
	<hr>

	<br>
	<input type=hidden id=eid value="0" name=eid>
	<div class="form-group" id=signup-group>
		<button type="submit" class="btn btn-info btn-block login-button" id="btn">추가하기</button>
	</div>
	<center>
	<div class="login-register">
        <a href="{% url 'da' %}">목록으로</a>
     </div>
 	</center>
</form>
{% if d %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
	$("#a").val("{{ d.DA_ID }}");
	$("#b").val("{{ d.DA_NAME }}");
	$("#c").val("{{ d.DA_PHONE }}");
	$("#d").val("{{ d.DA_ROLE }}");
	$("#e").val("{{ d.CI_ID.id }}");
	$("#eid").val("{{ d.id }}");
	$("#btn").html("수정하기");
</script>
{% endif %}

{% endblock %}