{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="{% static 'farm/css/e1.css' %}" rel="stylesheet">	
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">


	<div class=tg>
		<h3><a href="{% url 'elist' %}"><i class="fas fa-arrow-left"></i></a> 농업경영정보</h3>		
		<hr>
		<a href="{% url 'e1update' %}"><button class="btn btn-success"><i class="fas fa-plus"></i> 추가</button></a>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">농가경영체ID</th>
		      <th scope="col">작업인코드</th>	
		      <th scope="col">농업인이름</th>	
		      <th scope="col">수정</th>	
		      <th scope="col">삭제</th>	
		    </tr>
		  </thead>
		  <tbody>
	 
		{% for i in ds %}
			
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.GB_FA_ID}}</td>
				<td>{{i.CTVT_FCLTY_ID}}</td>
				<td>{{i.GB_FA_NAME}}</td>
				<td><a href="{% url 'e1update' %}?id={{i.id}}"><button class="btn btn-info">수정</button></a></td>
				<td><button class="btn btn-danger" data-toggle="modal" data-target="#delmodal{{i.id}}">삭제</button></td>

				<div class="modal fade" id="delmodal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">데이터 삭제</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <h5>데이터를 삭제하시겠습니까?</h5>
				        <h6 class="text-danger">※삭제할시, 복원이 불가합니다. </h6>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				        <a href="{% url 'e1delete' i.id %}"><button type="button" class="btn btn-danger">데이터삭제</button></a>
				      </div>
				    </div>
				  </div>
				</div>
			</tr>
			
		{% endfor %}
		</tbody>
		</table>
	</div>
{% endblock %}