{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link href="{% static 'farm/css/e1update.css' %}" rel="stylesheet">


<form class="form-horizontal" method="post">
	{% csrf_token %}
	<div id="title_join">
		<h2 class="form-signin-heading text-primary">회원가입</h2>
	</div>
	<div id="title_update" style="display: none;">
		<h2 class="form-signin-heading"><a href="{% url 'e1' %}"><i class="fas fa-arrow-left"></i></a> 농업경영정보</h2>
	</div>
	<hr>
	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">농가경영체ID</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=a name="a" autofocus required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">농업경영체PW</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="password" class="form-control" id=b name="b" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">작업인코드</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=c name="c"   required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">연락처</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=d name="d" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">이메일</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="email" class="form-control" id=e name="e" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">농가 주소</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=f name="f" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">농업인 이름</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=g name="g" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">영농규모</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=h name="h" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">가족구성</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=i name="i" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label">소속작목반</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=j name="j" required/>
			</div>
		</div>
	</div>

	<br>
	<input type=hidden id=eid value="0" name=eid>
	<div id="bottom_join">
		<div class="form-group" id=signup-group>
			<button type="submit" class="btn btn-primary btn-block login-button" id="btn">회원가입</button>
		</div>
		<center>
		<div class="login-register">
	        <a href="{% url 'login' %}">로그인</a>
	     </div>
	 	</center>
	 </div>
	 <div id="bottom_update" style="display: none;">
		<div class="form-group" id=signup-group>
			<button type="submit" class="btn btn-primary btn-block login-button" id="btn">수정하기</button>
		</div>
		<center>
		<div class="login-register">
	        <a href="{% url 'e1' %}">목록으로</a>
	     </div>
	 	</center>
	 </div>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'farm/js/m2.js' %}"></script>
{% if d %}
<script>
	$("#a").val("{{ d.GB_FA_ID }}");
	$("#b").val("{{ d.GB_FA_PW }}");
	$("#c").val("{{ d.CTVT_FCLTY_ID }}");
	$("#d").val("{{ d.GB_FA_PHONE }}");
	$("#e").val("{{ d.GB_FA_EMAIL }}");
	$("#f").val("{{ d.GB_FA_ADDR }}");
	$("#g").val("{{ d.GB_FA_NAME }}");
	$("#h").val("{{ d.GB_FA_SIZE }}");
	$("#i").val("{{ d.GB_FAM_NUM }}");
	$("#j").val("{{ d.GB_COOPER_UNIT }}");
	$("#eid").val("{{ d.id }}");
	$("#btn").html("수정하기");
	$("#title_join").attr("style","display:none;");
	$("#title_update").attr("style","display:block;");
	$("#bottom_join").attr("style","display:none;");
	$("#bottom_update").attr("style","display:block;");
</script>
{% endif %}

{% endblock %}