{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<!--<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">//-->
	<link href="{% static 'farm/css/elist.css' %}" rel="stylesheet">
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-action active">
	    <i class="fas fa-list-ul"></i>&nbsp;경영체정보
	  </a>
	  <a href="{% url 'e1' %}" class="list-group-item list-group-item-action">농업경영정보</a>
	  <a href="{% url 'gi' %}" class="list-group-item list-group-item-action">시설정보</a>
	  <a href="{% url 'igi' %}" class="list-group-item list-group-item-action">내부시설정보</a>
	  <a href="{% url 'ci' %}" class="list-group-item list-group-item-action">업체정보</a>
	  <a href="{% url 'da' %}" class="list-group-item list-group-item-action">기기담당자</a>
	  <a href="{% url 'dc' %}" class="list-group-item list-group-item-action">장치코드</a>
	  <a href="{% url 'si' %}" class="list-group-item list-group-item-action">장치정보</a>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="{% static 'farm/js/m2.js' %}"></script>

{% endblock %}