{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link href="{% static 'farm/css/e1update.css' %}" rel="stylesheet">
	<script>
		function esel(id) {
			$('#a').val(id);
		}
	</script>


<form class="form-horizontal" method="post">
	{% csrf_token %}
	<h2 class="form-signin-heading"><a href="{% url 'g2' %}"><i class="fas fa-arrow-left"></i></a> ONOFF구동기</h2>
	<hr>


	<input type=hidden id=a name="a" />
	<div class="list-group">
	  <button type="button" class="list-group-item list-group-item-action active">
	    시설ID
	  </button>
	  {% for i in ds1 %}
	  	<button type="button" class="list-group-item list-group-item-action" onclick="esel({{i.id}})">
	  		<table width="100%" class="right"><tr>
	  			<td width="10%" class="border-right">{{i.GB_NUMBER}}</td>
	  			<td style="padding-left: 20px;">{{i.GB_CENTER_DIRECT}}</td>
	  		</tr></table>
	  	</button>
	  {% endfor %}
	</div>
	<hr>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">이벤트시간</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="time" class="form-control" id=b name=b autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">팬</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=c name=c autofocus required>
					<option value="1">유</option>
					<option value="0">무</option>
				</select>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">보광</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=d name=d autofocus required>
					<option value="1">유</option>
					<option value="0">무</option>
				</select>
			</div>
		</div>
	</div>		

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">난방</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=e name=e autofocus required>
					<option value="1">유</option>
					<option value="0">무</option>
				</select>
			</div>
		</div>
	</div>		

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">관수</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=f name=f autofocus required>
					<option value="1">유</option>
					<option value="0">무</option>
				</select>
			</div>
		</div>
	</div>		

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">CO2발생기</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=g name=g autofocus required>
					<option value="1">유</option>
					<option value="0">무</option>
				</select>
			</div>
		</div>
	</div>		

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">포그기</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=h name=h autofocus required>
					<option value="1">유</option>
					<option value="0">무</option>
				</select>
			</div>
		</div>
	</div>		
	
	<hr>

	<br>
	<input type=hidden id=eid value="0" name=eid>
	<div class="form-group" id=signup-group>
		<button type="submit" class="btn btn-info btn-block login-button" id="btn">추가하기</button>
	</div>
	<center>
	<div class="login-register">
        <a href="{% url 'g2' %}">목록으로</a>
     </div>
 	</center>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'farm/js/m5.js' %}"></script>
{% if d %}
<script>
	$("#a").val("{{ d.GB_INNER_FA_ID.id }}");
	var time="{{ d.GB_EVENT_TIME }}";
	time=time.split(' ');
	var pm=0;
	if(time[1]=='p.m.')pm=1;
	time=time[0].split(':');
	var h=parseInt(time[0]);
	if(pm>0)h+=12;
	time=h+":"+time[1];
	if(h<10)time="0"+time;
	$("#b").val(time);
	$("#c").val(select_option("{{ d.GE_FAN }}"));
	$("#d").val(select_option("{{ d.GE_SUPPORT_LIGHT }}"));
	$("#e").val(select_option("{{ d.GE_HEAT }}"));
	$("#f").val(select_option("{{ d.GE_IRRIGA }}"));
	$("#g").val(select_option("{{ d.GE_CO2_GE }}"));
	$("#h").val(select_option("{{ d.GE_FOG }}"));
	$("#eid").val("{{ d.id }}");
	$("#btn").html("수정하기");

	function select_option(val){
		if(val=="True")return '1';
		else return '0';
	}
</script>
{% endif %}

{% endblock %}