{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link href="{% static 'farm/css/elist.css' %}" rel="stylesheet">
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-action active">
	    <i class="fas fa-list-ul"></i>&nbsp;환경정보
	  </a>
	  <a href="{% url 'g1' %}" class="list-group-item list-group-item-action">양액상태</a>
	  <a href="{% url 'sp' %}" class="list-group-item list-group-item-action">ON/OFF구동기</a>
	  <a href="{% url 'st' %}" class="list-group-item list-group-item-action">정역구동기</a>
	  <a href="{% url 'ge' %}" class="list-group-item list-group-item-action">뿌리부환경</a>
	  <a href="{% url 'gr' %}" class="list-group-item list-group-item-action">외부기상환경</a>
	  <a href="{% url 'cr' %}" class="list-group-item list-group-item-action">온실기상환경</a>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="{% static 'farm/js/m5.js' %}"></script>

{% endblock %}