{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="{% static 'farm/css/e1.css' %}" rel="stylesheet">	
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">


	<div class=tg>
		<h3><a href="{% url 'elist' %}"><i class="fas fa-arrow-left"></i></a> 내부시설정보</h3>		
		<hr>
		<a href="{% static 'farm/files/env_outer.xlsx' %}" download><button class="optional btn btn-primary mr-1"><i class="mdi mdi-download"></i> 엑셀파일로 다운로드</button></a>
		<input type=file name="xls" id="xls" style="display:none;">
		<a href="javascript:document.getElementById('xls').click();"><button class="optional btn btn-primary mr-1 ml-1"><i class="mdi mdi-upload"></i> 엑셀파일로 업로드</button></a>
		<a href="{% url 'igi_update' %}"><button class="btn btn-success"><i class="fas fa-plus"></i> 추가</button></a>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">내부시설번호</th>
		      <th scope="col">시설번호</th>
		      <th scope="col">작목</th>	
		      <th scope="col">재배시설면적</th>	
		      <th scope="col">재배시설유형</th>	
		      <th scope="col">장치위치</th>	
		      <th scope="col">장치ID</th>
		      <th scope="col">수정</th>	
		      <th scope="col">삭제</th>	
		    </tr>
		  </thead>
		  <tbody>
	 
		{% for i in ds %}
			
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.GB_DONG_NUMBER}}</td>
				<td>{{i.GB_INFO_ID.GB_NUMBER}}</td>
				<td>{{i.GB_KIND_CROP}}</td>
				<td>{{i.GB_INNER_SIZE}}</td>
				<td>{{i.GB_INNER_KIND}}</td>
				<td>{{i.GB_INNER_DEVI_LOC}}</td>
				<td>{{i.GB_DEVICE_ID.SI_ID}}</td>


				<td><a href="{% url 'igi_update' %}?id={{i.id}}"><button class="btn btn-info">수정</button></a></td>
				<td><button class="btn btn-danger" data-toggle="modal" data-target="#delmodal{{i.id}}">삭제</button></td>

				<div class="modal fade" id="delmodal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">데이터 삭제</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <h5>데이터를 삭제하시겠습니까?</h5>
				        <h6 class="text-danger">※삭제할시, 복원이 불가합니다. </h6>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				        <a href="{% url 'igi_delete' i.id %}"><button type="button" class="btn btn-danger">데이터삭제</button></a>
				      </div>
				    </div>
				  </div>
				</div>
			</tr>
			
		{% endfor %}
		</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="{% static 'farm/js/m2.js' %}"></script>
{% endblock %}