{% extends "farm/base.html" %}
{% block content %}
{% load staticfiles %}
<link href="{% static 'farm/css/join.css' %}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<form class="form-horizontal" method="post">
	{% csrf_token %}
	<h2 class="form-signin-heading">스마트팜 회원가입</h2>
	<hr>
	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label"><i class="fa fa-envelope fa" aria-hidden="true"></i> Email</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="username" class="cols-sm-2 control-label"><i class="fa fa-users fa" aria-hidden="true"></i> 아이디</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="password" class="cols-sm-2 control-label"><i class="fa fa-lock fa-lg" aria-hidden="true"></i> 패스워드</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="confirm" class="cols-sm-2 control-label"><i class="fa fa-lock fa-lg" aria-hidden="true"></i> 패스워드 확인</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"></span>
				<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" required/>
			</div>
		</div>
	</div>
	<br>
	<div class="form-group" id=signup-group>
		<button type="submit" class="btn btn-info btn-block login-button">회원가입</button>
	</div>
	<center>
	<div class="login-register">
        <a href="#">Login</a>
     </div>
 	</center>
</form>
{% endblock %}