{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link href="{% static 'farm/css/e1update.css' %}" rel="stylesheet">
	<script>
		function dsel(id) {
			$('#d').val(id);
		}
		function esel(id) {
			$('#e').val(id);
		}
		function fsel(id) {
			$('#f').val(id);
		}
	</script>


<form class="form-horizontal" method="post">
	{% csrf_token %}
	<h2 class="form-signin-heading"><a href="{% url 'si' %}"><i class="fas fa-arrow-left"></i></a> 장치정보</h2>
	<hr>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">장치ID</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=a name=a autofocus required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">장치유형</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=b name=b autofocus required/>
			</div>
		</div>
	</div>


	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">구동기타입코드</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=c name=c autofocus required/>
			</div>
		</div>
	</div>

	<input type=hidden id=d name="d" />
	<hr>
	<div class="list-group">
	  <button type="button" class="list-group-item list-group-item-action active">
	    장치코드
	  </button>
	  {% for i in ds1 %}
	  	<button type="button" class="list-group-item list-group-item-action" onclick="dsel({{i.id}})">
	  		<table width="100%" class="right"><tr>
	  			<td width="10%" class="border-right">{{i.DC_CODE}}</td>
	  			<td style="padding-left: 20px;">{{i.DC_KIND}}</td>
	  		</tr></table>
	  	</button>
	  {% endfor %}
	</div>
	<hr>

	<input type=hidden id=e name="e" />
	<hr>
	<div class="list-group">
	  <button type="button" class="list-group-item list-group-item-action active">
	    업체코드
	  </button>
	  {% for i in ds2 %}
	  	<button type="button" class="list-group-item list-group-item-action" onclick="esel({{i.id}})">
	  		<table width="100%" class="right"><tr>
	  			<td width="10%" class="border-right">{{i.CI_CODE}}</td>
	  			<td style="padding-left: 20px;">{{i.CI_NAME}}</td>
	  		</tr></table>
	  	</button>
	  {% endfor %}
	</div>
	<hr>

	<input type=hidden id=f name="f" />
	<hr>
	<div class="list-group">
	  <button type="button" class="list-group-item list-group-item-action active">
	    내부시설번호
	  </button>
	  {% for i in ds3 %}
	  	<button type="button" class="list-group-item list-group-item-action" onclick="fsel({{i.id}})">
	  		<table width="100%" class="right"><tr>
	  			<td width="10%" class="border-right">{{i.GB_DONG_NUMBER}}</td>
	  			<td style="padding-left: 20px;">{{i.GB_KIND_CROP}}</td>
	  		</tr></table>
	  	</button>
	  {% endfor %}
	</div>
	<hr>


	

	<br>
	<input type=hidden id=eid value="0" name=eid>
	<div class="form-group" id=signup-group>
		<button type="submit" class="btn btn-info btn-block login-button" id="btn">추가하기</button>
	</div>
	<center>
	<div class="login-register">
        <a href="{% url 'si' %}">목록으로</a>
     </div>
 	</center>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'farm/js/m2.js' %}"></script>
{% if d %}
<script>
	$("#a").val("{{ d.SI_ID }}");
	$("#b").val("{{ d.SI_KIND }}");
	$("#c").val("{{ d.SI_ACTU_CODE }}");
	$("#d").val("{{ d.DC_ID.id }}");
	$("#e").val("{{ d.CI_ID.id }}");
	$("#f").val("{{ d.IGI_ID.id }}");
	$("#eid").val("{{ d.id }}");
	$("#btn").html("수정하기");
</script>
{% endif %}
{% endblock %}