{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link href="{% static 'farm/css/e1update.css' %}" rel="stylesheet">

<form class="form-horizontal" method="post">
	{% csrf_token %}
	<h2 class="form-signin-heading"><a href="{% url 'si' %}"><i class="fas fa-arrow-left"></i></a> 장치정보</h2>
	<hr>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">장치ID</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=a name=a autofocus required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">장치유형</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=b name=b autofocus required/>
			</div>
		</div>
	</div>


	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">구동기타입코드</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=c name=c autofocus required/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">장치코드</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=d name=d>
					{% for i in ds1 %}
						<option value="{{i.id}}">{{i.DC_CODE}}</option>  	
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">업체코드</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=e name=e>
					{% for i in ds2 %}
						<option value="{{i.id}}">{{i.CI_CODE}}</option>  	
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	

	<br>
	<input type=hidden id=eid value="0" name=eid>
	<div class="form-group" id=signup-group>
		<button type="submit" class="btn btn-info btn-block login-button" id="btn">추가하기</button>
	</div>
	<center>
	<div class="login-register">
        <a href="{% url 'si' %}">목록으로</a>
     </div>
 	</center>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'farm/js/m2.js' %}"></script>
{% if d %}
<script>
	$("#a").val("{{ d.SI_ID }}");
	$("#b").val("{{ d.SI_KIND }}");
	$("#c").val("{{ d.SI_ACTU_CODE }}");
	$("#d").val("{{ d.DC_ID.id }}");
	$("#e").val("{{ d.CI_ID.id }}");
	$("#eid").val("{{ d.id }}");
	$("#btn").html("수정하기");
</script>
{% endif %}
{% endblock %}