{% extends 'farm/base.html' %}
{% block content %}
{% load staticfiles %}
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link href="{% static 'farm/css/e1update.css' %}" rel="stylesheet">


<form class="form-horizontal" method="post">
	{% csrf_token %}
	<h2 class="form-signin-heading"><a href="{% url 'sp' %}"><i class="fas fa-arrow-left"></i></a> 육묘계획</h2>
	<hr>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">육묘계획ID</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=a name=a autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">육묘일정</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="date" class="form-control" id=b name=b autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">트레이 규격</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=c name=c autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">상토명</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id=d name=d autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">육묘일수</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=e name=e autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">파종일</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="date" class="form-control" id=f name=f autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">접목일</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="date" class="form-control" id=g name=g autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">접수 접목일수</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=h name=h autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">대목 접목일수</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=i name=i autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">접목 활착일수</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="number" class="form-control" id=j name=j autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">출하일</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<input type="date" class="form-control" id=k name=k autofocus required/>
			</div>
		</div>
	</div>	

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">공정단계코드</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=l name=l>
					{% for i in ds1 %}
						<option value="{{i.id}}">{{i.PS_PLAN_CODE}}</option>  	
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">작물정보ID</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<select class="form-control" id=m name=m>
					{% for i in ds2 %}
						<option value="{{i.id}}">{{i.CI_INFO_ID}}</option>  	
					{% endfor %}
				</select>
			</div>
		</div>
	</div>



	
	<br>
	<input type=hidden id=eid value="0" name=eid>
	<div class="form-group" id=signup-group>
		<button type="submit" class="btn btn-info btn-block login-button" id="btn">추가하기</button>
	</div>
	<center>
	<div class="login-register">
        <a href="{% url 'sp' %}">목록으로</a>
     </div>
 	</center>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'farm/js/m4.js' %}"></script>
{% if d %}
<script>
	$("#a").val("{{ d.SP_ID }}");
	$("#b").val("{{ d.SP_DATE }}");
	$("#c").val("{{ d.SP_TRAY }}");
	$("#d").val("{{ d.SP_GROW_MEDIA }}");
	$("#e").val("{{ d.SP_PRODUCTION }}");
	$("#f").val("{{ d.SP_SEEDING_DATE }}");
	$("#g").val("{{ d.SP_GRAFTING_DATE }}");
	$("#h").val("{{ d.SP_SCION_GRAFT }}");
	$("#i").val("{{ d.SP_ROOT_GRAFT }}");
	$("#j").val("{{ d.SP_GRAFT_TAKE }}");
	$("#k").val("{{ d.SP_SHIPPING_DATE }}");
	$("#l").val("{{ d.PS_ID.id }}");
	$("#m").val("{{ d.CI_INFO_ID.id }}");
	$("#eid").val("{{ d.id }}");
	$("#btn").html("수정하기");
</script>
{% endif %}

{% endblock %}